*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 80%;
  height: auto;
  margin:10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 10px;
}
.title{
  font-size: 40px;
  margin: 20px 0px;
}
.channel-ground{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  background-color: rebeccapurple;
  padding: 10px;
}
.channel-list{
  display: flex;
  gap: 5px;
  background-color: azure;
  border-radius: 20px;
  border: 2px solid black;
  flex-direction: column;
  justify-content: space-around;
}
.channel-list:hover .channel{
  background-color: #59ee59;
  border-radius: 20px;
}
.icon{
  width: 100%;
}
.channel{
  display: flex;
  justify-content: center;
}
.channel-logo{
  padding: 10px;
}
.ch-name{
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  font-size: 30px;
  color: rgb(0, 0, 0);
}